.container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(94, 93, 93);
  transform: translateX(-100%);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    span {
      font-weight: 600;
      font-size: 18px;
      font-family: inherit;
    }
  }
  .close-btn {
    cursor: pointer;
    width: max-content;
  }
}

.link {
  text-decoration: none;
}
.nav-routes {
  display: flex;
  flex-direction: column;
}

.navigation {
  transition: all 0.5s linear;
}

.open {
  transform: translateX(0%);
}

.closed {
  transform: translateX(-100%);
}
