.container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(94, 93, 93);
  transform: translateX(-100%);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
    span {
      font-weight: 600;
      font-size: 18px;
      font-family: inherit;
    }
  }
  .close-btn {
    cursor: pointer;
    width: max-content;
  }
}

.account-full-info {
  display: flex;
  flex-direction: column;

  .profile_img {
    padding: 10px;
  }

  .username {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    b {
      font-weight: 500;
    }
  }
  .follow-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;

    .simple_text {
      color: rgba(0, 0, 0, 0.466);
    }
  }
}

.link {
  text-decoration: none;
}
.nav-routes {
  display: flex;
  flex-direction: column;
}

.navigation {
  transition: all 0.5s linear;
}

.open {
  transform: translateX(0%);
}

.closed {
  transform: translateX(-100%);
}
