.app-outlet {
  position: absolute;
  border: 1px solid black;
  top: 50px;
  bottom: 50px;
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  scrollbar-width: none !important;
  z-index: -1;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
